<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Local" connectionString="Data Source=MUSTAFA-YASSER; Integrated Security=True;Connect Timeout=30;DataBase=HotelDB;Encrypt=False;"
		     providerName="System.Data.SqlClient" />

		<!--
		<add name="Local" connectionString="Data Source=MUSTAFA-YASSER; Integrated Security=True;Connect Timeout=30;DataBase=HotelDB;Encrypt=False;"
		     providerName="System.Data.SqlClient" />
			 -->
		
	</connectionStrings>
</configuration>