<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalMoh" connectionString="Data Source=MUSTAFA-YASSER; Integrated Security=True;Connect Timeout=30;DataBase=HotelDB;Encrypt=False;"
		     providerName="System.Data.SqlClient" />

		<add name="LocalSab" connectionString="Data Source=LAPTOP-5KGF0A38; Integrated Security=True;Connect Timeout=30;DataBase=HotelDB;Encrypt=False;"
		 providerName="System.Data.SqlClient" />
		
		<add name="Online" connectionString="Data Source=SQL5110.site4now.net;Initial Catalog=db_aa4013_hoteldb;User Id=db_aa4013_hoteldb_admin;Password=Mohamed23Malk26"
		     providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>